<h1># temporal-voyager</h1>
<div>
<p><input/>where are you </p>
<p><input/>what day is it today </p>
</div>
<p><input/>enter a deprecated gem</p>
<p><input/>enter the year of the deprecated gem</p>
<p><textarea></textarea>TimeLogs – Journal your digital expeditions through time. digital expeditions place : beach, forest, cities, lakes, outdoor places, natural places. dangers : any danger in natural places, programming language to face dangers, or to meet other temporal voyageurs</p>
<p><input/>find out the programming language in a repository</p>
